
@{
    ViewData["Title"] = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutKhach.cshtml";
}

<img src="../ViewGioiThieu/anh_bia_dau_gioi_thieu.jpg" alt="quãng cáo" class="img-fluid">
<div style="background-color: #EDF2F4">
    <h2 class="text-center">CÔNG TY GYMeo</h2>
</div>
<div class="position-relative">
    <img src="../ViewGioiThieu/anh_nen_gioi_thieu.jpg" class="img-fluid" alt="Hình ảnh" width="100%" style="opacity: 0.5">
    <div class="position-absolute top-0 left-0 w-100 ">


        <div class="row ">
            <div class="col-md-6">
                <img src="../ViewGioiThieu/Gioi_Thieu_cong_ty.jpg" alt="Hình ảnh" width="1000">
            </div>
            <div class="col-md-6 ">
                <br>
                <br>
                <div style="background-color: #EDF2F4">
                    <p>
                        GYMEO là một công ty hàng đầu trong lĩnh vực phục vụ cộng đồng tập luyện và chăm sóc sức khỏe. Với sứ mệnh tạo ra một môi trường tập luyện đẳng cấp và thân thiện, GYMEO cam kết mang lại trải nghiệm tốt nhất cho các thành viên.

                        Với các cơ sở hiện đại và đa dạng, GYMEO cung cấp các dịch vụ và tiện ích tập luyện chất lượng, bao gồm phòng tập đa chức năng, các lớp học yoga, zumba, boxing, và các dịch vụ spa thư giãn.
                    </p>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 ">
                <br>
                <br>
                <div style="background-color: #EDF2F4">
                    <p>
                        Mỗi hội viên của GYMEO đều được đón tiếp và chăm sóc bởi đội ngũ nhân viên chuyên nghiệp, với huấn luyện viên tận tâm và tư vấn viên dành thời gian để lắng nghe và đáp ứng mọi nhu cầu cá nhân.

                        Ngoài ra, GYMEO còn tổ chức các sự kiện và hoạt động cộng đồng nhằm tạo ra một cộng đồng tập luyện đoàn kết và hỗ trợ lẫn nhau trong quá trình đạt được mục tiêu sức khỏe và thể chất.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../ViewGioiThieu/Goi_thieu_phong_tap.jpg" alt="Hình ảnh" width="100%">
            </div>
        </div>
        <br>
        <br>
        <div class="row ">
            <div class="col-md-6 ">
                <br>
                <br>
                <div style="background-color: #EDF2F4">

                    <h2 class="text-center">Chi nhánh quận 7</h2>

                </div>
            </div>
        </div>
        <div class="text-center">

            <iframe width="840" height="472.5" src="https://www.youtube.com/embed/d1cfJU1QT58?si=oXJu7EMouRSFAjpi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
        </div>

        <br/>
        <br/>
        <br/>
         <div class="text-center">

     
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1570.6575609292065!2d106.70025921009308!3d10.74296423123664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f9e50dbabb1%3A0x2e9e35a6deb8b754!2sCITIGYM%20(Sunrise)!5e0!3m2!1svi!2s!4v1713698466114!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>


    </div>
</div>

